/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arr_slide_next {
  background-image: url(sp_slide.png);
  background-position: 0px 0px;
  width: 52px;
  height: 52px;
}
.icon-arr_slide_prev {
  background-image: url(sp_slide.png);
  background-position: -56px 0px;
  width: 52px;
  height: 52px;
}
.icon-ico_silde_next {
  background-image: url(sp_slide.png);
  background-position: -36px -56px;
  width: 17px;
  height: 31px;
}
.icon-ico_silde_next_on {
  background-image: url(sp_slide.png);
  background-position: -57px -56px;
  width: 17px;
  height: 31px;
}
.icon-ico_silde_prev {
  background-image: url(sp_slide.png);
  background-position: -78px -56px;
  width: 17px;
  height: 31px;
}
.icon-ico_silde_prev_on {
  background-image: url(sp_slide.png);
  background-position: -112px 0px;
  width: 17px;
  height: 31px;
}
.icon-ico_slide_close {
  background-image: url(sp_slide.png);
  background-position: 0px -56px;
  width: 32px;
  height: 32px;
}
