@charset "utf-8";

/* CSS 속성 선언순서 : display, overflow, float, position, z-index, width & height, margin & padding, font, color, border, background, align, etc */

* {margin:0px; padding:0px; font-weight:normal; font-size:12px;}
html {height:100%;}
body{height:100%; font-size: 13px; line-height: normal; color:#464646; font-family: "Noto Sans KR","돋움","Dotum",sans-serif;}
.txt-hidden{position:absolute; left:-9999px; width:1px; height:1px; font-size:0; line-height:0; text-indent:-9999px; overflow:hidden;}
/*Reset*/
h1, h2, h3, h4, h5, h6 ,h7 {font-weight:normal;}
img {border:none; vertical-align:middle;}
ol, ul, li, dl, dt, dd {list-style:none;}
table {border-collapse:collapse; border:0px; border-spacing:0px;}
th, td {word-break:break-all; line-height:150%; border:0px;}
fieldset {border:0px;}
legend {display:none;}
frameset {border:0px;}
iframe {width:100%; border:0px;}
em, address {font-style:normal;}
blockquote, q { quotes: none; }
hr { display: none; }
a {text-decoration:none; color:#000;}
input,select { vertical-align:middle;}
legend {display:none;}

form {position:relative}
button {display:inline-block; zoom:1; position:relative; overflow:visible; margin:0px; padding:0px; border:0px; background:transparent; cursor:pointer; vertical-align:middle;}

.wrapper{position: relative; overflow: hidden; min-width: 1150px; box-sizing: border-box;}
#header{position: relative; width: 1150px; background:#fff; font-family: "Noto Sans KR","돋움","Dotum",sans-serif; box-sizing: border-box;}
#header .header_inner{height: 69px; padding:0 35px;}
#header .header_inner:after{display: block; content:""; clear: both;}
#header .logo{position: absolute; top:20px; left: 28px;}
#header .h_right{float:right;}
#header .h_right:after, #nav .nav_menu:after{display: block; content:""; clear:both;}
#nav{float:left;}
.nav_menu li{float:left; padding-right:40px; line-height: 67px;}
.nav_menu li a{display: block; font-size: 15px;}
.h_btn{float: left; margin-top: 22px; margin-right: 20px; padding:4px 20px ; line-height: 1.2; color:#fff; border-radius: 15px; background-color: #ff5050;}
.h_btn.type{background-color:#5cadff;}
.member_area{float: left; position: relative; margin-left:10px; margin-top:24px;}
.member_area a{display: block; color: #6c6c6c;}
.main_visual{position: relative; overflow: hidden; width: 100%; text-align: center;}
.main_visual .inner{width: 1150px;}
.main_visual .content{position: absolute; top:0; right:0; bottom: 0; left: 0; text-align: center;}
.main_visual .tit{padding-top: 170px; font-size: 38px; color:#fff; z-index: 999;;}