@charset "utf-8";

.content_head1 .tit{margin-bottom: 35px; font-size: 30px; font-weight: 500; color:#464646;}

.icon_type1{padding:4px 15px ; line-height: 1.2; color:#fff; border-radius: 15px; background-color: #ff5050;}
.content_head .tit{margin-bottom: 25px; font-size: 26px; color: #464646;}
.box_wrap{border:1px solid #e6e6e6;}
.box_border_wrap{border:1px solid #e6e6e6; border-radius: 5px;}

/*버튼*/
.btn_style_green .btn{line-height: 2.6; color: #fff; border-radius:30px; background-color: #3ec729;}
.btn_style_wh .btn{line-height: 2.6; color:#464646; border:1px solid #e6e6e6; border-radius:30px; background-color: #fff;}
.area_style:after{display: block; content:""; clear: both;}
.area_style .area{float:left; position: relative; width:563px; overflow: hidden; border:1px solid #e6e6e6; border-radius: 5px;}
.area_style .area.type2{float:right}
.area_style .area .area_tit{padding-left: 26px; line-height: 63px; font-size:24px;}

/*매물 슬라이드*/
.view_area{position: relative; margin-bottom:50px;}
.view_area .item{display: inline-block; width:270px; height:310px; margin-left:18px;}
.view_area .item:first-of-type{margin-left: 0;}
.view_area .slide_box .item .box_border_wrap{padding:10px;}
.view_area .slide_box .item:hover .box_border_wrap{box-shadow: 0px 10px 10px -5px #d6d6d6;}

.view_area .item .img_area{display: block; width:249px; height: 151px; margin-bottom: 10px; overflow: hidden;}
.view_area .item .tit{display: block; margin-bottom:4px; font-size:22px; font-weight: bold; color: #000;}
.view_area .item .info{font-size: 14px; color: #6d6d6d;}
.view_area .item .mark{width:270px; height: 20px; margin:8px 0; overflow: hidden;}
.view_area .item .mark span{padding:0 10px; margin-right:5px; line-height: 1.8; font-size: 12px; color: #000; background-color:#e6e6e6; border-radius: 10px; vertical-align: top;}
.view_area .item .mark span.type{background-color:#fdc689;}
.view_area .item .locate{text-overflow:ellipsis; white-space: nowrap; word-wrap: normal; ovrflow: hidden;}
.view_area .view_cont_area{position: relative;}
.view_area .button{position: absolute; top:137px; width:52px; height:52px; background-size: auto; z-index: 102;}
.view_area .button.next{right:-20px; background-image:url("../../images/sub/arr_slide_next.png");}
.view_area .button.prev{left:-20px; background-image:url("../../images/sub/arr_slide_prev.png");}
.view_area .view_all{display: block; position: absolute; top:-64px; right:5px; padding-right: 18px; font-size: 20px; color: #6d6d6d; background:url("../../images/sub/ico_arr_all_view.png") no-repeat right;}

.view_cont_area .offer_none .txt_box{display: inline-block; margin-left: 18px; }
.view_cont_area .offer_none .txt_box:first-of-type{margin-left:0;}
.view_cont_area .offer_none .item{margin-left: 19px; font-size: 18px; text-align: center; display:table-cell; vertical-align: middle;}
.view_cont_area .offer_none .item span{display: block; padding-top:32px; font-size: 16px; color: #f7941d;}
.view_cont_area .offer_none .item span.blue{color: #3399ff;}
.view_cont_area .offer_none .item span.red{color: #ff6161;}
.view_cont_area .offer_none .item span.skyblue{color:#0ec4bf;}
/*상품리스트*/
.items_area .header{padding:18px; font-size: 20px; color: #fff; background:#0ec4bf;}
.items_area .items_list li{position: relative; padding:0 5px 10px 8px; border-bottom: 1px solid #e6e6e6; background-color:#fbfbfb;}
.items_area .items_list li.target{background-color: #e8f4ff;}
.items_area .items_list li .img_area{display: block; position: absolute; top:5px; left:10px; width:162px; height:115px; overflow: hidden; z-index: 5;}
.items_area .items_list .item_info{position: relative; padding-left: 175px; font-size: 14px; color: #6d6d6d;}
.items_area .items_list .favor_ico{position: absolute; top:5px; right:5px; width:26px; height: 24px; background:url("../../images/sub/ico_favor_off.png") no-repeat; cursor: pointer;}
.items_area .items_list .favor_ico.pick{ background:url("../../images/sub/ico_favor_on.png") no-repeat;}
.items_area .items_list .item_info .tit{display: block; margin-bottom:4px; font-size:22px; font-weight: bold; color: #000;}
.items_area .items_list .item_info .mark{width:270px; height: 20px; margin:10px 0; overflow: hidden;}
.items_area .items_list .item_info .mark span{padding:0 10px; margin-right:5px; font-size: 12px; color: #000; background-color:#e6e6e6; border-radius: 10px;}
.items_area .items_list .item_info .mark span.type{background-color:#fdc689;}
.items_area .items_list .item_info .locate{text-overflow:ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden;}

/*테이블*/
.table_style2 .table{margin-bottom:50px; width:800px; border:1px solid #e6e6e6;}
.table_style2 .table tr{border-top:1px solid #e6e6e6;}
.table_style2 .table:first-child{border-top:none;}
.table_style2 .table th,.table_style2 .table td{padding-top:20px; padding-bottom:20px; font-size: 16px;}
.table_style2 .table th{padding-left: 20px; font-size: 16px; color: #9c9c9c; text-align: right;}
.table_style2 .table td{padding-left:15px; color: #464646; text-align: left;}