@charset "utf-8";
.content_head1 .tit{margin-bottom: 35px; font-size: 30px; font-family: "Noto Sans KR Medium"; color:#373737;}
.content_head2 .tit{margin-bottom: 25px; font-size: 26px; font-family: "Noto Sans KR Medium"; color: #373737;}
.content_head3 .tit{margin-bottom: 10px; font-size: 20px; color: #373737;}
.content_head3{position: relative;}
.content_head3 .desc{position: absolute; top:6px; right:0;}
.content_section{margin-bottom: 44px;}
.icon_type1{display: inline-block; margin-left: 5px; padding:2px 8px; line-height: 1.2; color:#fff; border-radius: 15px; font-size: 12px; background-color: #ff6161;}
.icon_type1.green,.icon_type2.green{background-color: #92d050;}
.icon_type1.green2{background-color: #3ec729;}
.icon_type1.skyblue{background-color: #0ec4bf;}
.icon_type1.grey{background-color: #acacac;}
.icon_type1.blue{background-color: #378cff;}
.icon_type2{display: inline-block; padding:0 15px; margin-right:8px; line-height: 2; font-size: 15px; font-family: "Noto Sans KR Regular"; color:#fff; border-radius: 5px; background-color: #0ec4bf;}
.box_wrap{border:1px solid #e6e6e6;}
.box_border_wrap{border:1px solid #e6e6e6; border-radius: 5px;}
.box_wrap .box_section,.box_border_wrap .box_section{padding:10px 30px; line-height: 2; font-family: "Noto Sans KR Light"; color: #373737;}
.txt_red{color:#ff5050}
.txt_red2{color:#ff6161;}
.txt_blue{color:#378cff;}
.link_style{display: inline-block; margin-left:10px; padding-right: 12px; font-size: 14px; font-family: "Noto Sans KR Medium"; color: #378cff;  background:url("../../images/sub/arr_link2.png") no-repeat right;}  

/*버튼*/
button:focus{outline:none;}
.btn_round_green .btn,.btn_round{display: inline-block; width:auto; height: 53px; line-height: 2.6; padding:0 32px;font-size: 20px; font-family: "Noto Sans KR Medium"; color: #fff; border-radius:30px; background-color: #3ec729;}
.btn_round_white .btn{display: inline-block; width:157px; height:53px; line-height: 2.6; font-size: 16px; font-family: "Noto Sans KR Medium"; color:#373737; border:1px solid #e6e6e6; border-radius:30px; background-color: #fff;}
.btn_round_white.type .btn{width: 130px; font-size: 20px;}
.btn_round_green .btn{border:none;}
.btn{display: inline-block; position: relative; width:105px; height: 40px; font-family: "Noto Sans KR Medium"; font-size: 14px; color: #5f5f5f; border:1px solid #e6e6e6; border-radius: 5px; text-align: center;}
.btn.off{color: #fff; background-color: #e6e6e6; border:none;}
.btn.skyblue,.btn_round.skyblue{color: #fff; background-color: #0ec4bf; border: none;}
.btn.red{color:#fff; background-color: #ff5050; border: none;}
.btn.check{padding-left: 16px; color: #fff; background-color: #ff6161; border:none;}
.btn.check:after{display: block; content:""; clear: both; position: absolute; top:14px; left:13px; width: 11px; height:10px; background: url("../../images/sub/bg_chked.png") no-repeat;}

.area_style:after{display: block; content:""; clear: both;}
.area_style .area{float:left; position: relative; width:563px; overflow: hidden; border:1px solid #e6e6e6; border-radius: 5px;}
.area_style .area.type2{float:right}
.area_style .area .area_tit{padding-left: 26px; line-height: 3.3; font-size:18px;}
.btn_process{position: absolute; top:10px; right: 0;;}
.btn_process .btn{position: relative; width:102px; height:40px; margin-left:6px; line-height: 1; font-size: 14px; font-family: "Noto Sans KR Medium"; color: #5f5f5f; border-radius:5px; border:1px solid #e6e6e6;}
.btn_process .btn.on{color: #fff; background-color: #378cff; border:none;}
.btn_process .btn.off{color: #fff; background-color: #e6e6e6; border:none;}
.btn_process .btn:after{position:absolute; top:13px; display: block; content:""; width:8px; height:13px;}
.btn_process .btn_prev{padding-left:8px;}
.btn_process .btn_prev:after{left:28px; background: url("../../images/common/ico_btn_prev.png") no-repeat;}
.btn_process .btn_next{padding-right:8px; color: #fff; background-color: #e6e6e6; border:none;}
.btn_process .btn_next:after{top:14px; right:28px; background: url("../../images/common/ico_btn_next.png") no-repeat;}
.btn_process .btn_green{color: #fff; background-color: #92d050;}

/*라디오 버튼타입, 버튼*/
.radio_btn +label,.btn_type1{display: inline-block; position: relative; width:105px; height: 40px; margin-right:4px; padding:7px 0; font-family: "Noto Sans KR Medium"; font-size: 14px; color: #9c9c9c; border:1px solid #e6e6e6; border-radius: 5px; text-align: center; cursor: pointer; vertical-align: middle;}
.radio_btn:checked +label,.btn_type1.on{color: #fff; background-color: #0ec4bf; border:none;}
.radio_btn.check:checked +label{padding-left: 16px; background-color: #ff6161;}
.radio_btn.check:checked +label:after{display: block; content:""; clear: both; position: absolute; top:14px; left:32px; width: 11px; height:10px; background: url("../../images/sub/bg_chked.png") no-repeat;}

/*header*/
.sub_header{position: fixed; width:100%; background:#fff; border-bottom:1px solid #e6e6e6; z-index: 105;}
.sub_header .header_inner,.header_section .header_inner{width:1150px; min-width: 1150px; height: 68px; margin:0 auto;}
.sub_header:after{display: block; content:""; clear: both;}
.sub_header .logo{float: left; padding:20px 10px 0 28px;}
.sub_header .btn_close{position: absolute; top:0; right: 0; width:68px; height: 68px;; background:url("../../images/sub/ico_close_w68.jpg") no-repeat;}
.sub_header .header_tit{float: left; line-height: 3.4; font-size: 20px; font-family: "Noto Sans KR Medium"; color: #373737;}
.header_section{position: fixed; top:69px; width: 100%; border-bottom:1px solid #e6e6e6; background:#fff; background:#fff; z-index: 103;}
.header_section .header_inner{position: relative; height: 60px;}
.header_shadow{transition: box-shadow 400ms ease-in-out; -webkit-transition: box-shadow 400ms ease-in-out;}
.header_shadow.active{box-shadow: 0px 6px 10px -5px #d6d6d6;}

.process_idx{line-height: 3.3;}
.process_idx span{display: inline-block; margin-right:20px; font-size: 18px; color: #ff6161;}
.process_idx em{padding:2px 11px 4px; margin-right:10px; font-size: 16px; color: #9c9c9c; border: 1px solid #e7e7e7;  border-radius:30px;}
.process_idx em.on{color: #fff; background-color: #ff6161; border:none;}

.sub_main_container{position: relative; padding:107px 0 54px 60px;}
.sub_main_container .tit{display: inline-block; margin-bottom:8px; font-size:30px; font-family: "Noto Sans KR Medium"; color: #378cff;}
.sub_main_container .desc{font-size: 18px; color: #5f5f5f;}
.sub_main_container .right_btn{position: absolute; top:114px; right:62px;}

/*매물 슬라이드*/
.view_area{position: relative; margin-bottom:50px;}
.view_area .item{display: inline-block; width:270px; height:310px; margin-left:18px;}
.view_area .item:first-of-type{margin-left: 0;}
.view_area .slide_box .item .box_border_wrap{padding:10px;}
.view_area .slide_box .item:hover .box_border_wrap{box-shadow: 1px 1px 8px 1px #d6d6d6;}
.view_area .item .img_area{display: block; width:249px; height: 151px; margin-bottom: 10px; overflow: hidden;}
.view_area .item .tit{display: block; margin-bottom:4px; font-size:22px; font-weight: bold; color: #000;}
.view_area .item .desc{font-size: 14px;}
.view_area .item .info{font-size: 14px; color: #5f5f5f;}
.view_area .item .mark{width:270px; height: 20px; margin:8px 0; overflow: hidden;}
.view_area .item .mark span{display: inline-block; padding:0 10px; margin-right:5px; line-height: 1.6; font-size: 12px;  color: #000; background-color:#e6e6e6; border-radius: 10px; vertical-align: top;}
.view_area .item .mark span.type{background-color:#fdc689;}
.view_area .item .locate{font-size: 14px; text-overflow:ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden;}
.view_area .view_cont_area{position: relative;}
.view_area .button{position: absolute; top:128px; width:52px; height:52px; background-size: auto; z-index: 102;}
.view_area .button.next{right:-20px; background-image:url("../../images/sub/arr_slide_next.png");}
.view_area .button.prev{left:-20px; background-image:url("../../images/sub/arr_slide_prev.png");}
.view_area .button.prev.disabled,.view_area .button.next.disabled{display: none;}
.view_area .view_all{display: block; position: absolute; top:-64px; right:8px; padding-right: 18px; font-size: 16px; font-family: "Noto Sans KR Medium"; color: #378cff; background:url("../../images/sub/arr_link.png") no-repeat 97px 6px;}
.view_cont_area .offer_none .txt_box{display: inline-block; margin-left: 18px; }
.view_cont_area .offer_none .txt_box:first-of-type{margin-left:0;}
.view_cont_area .offer_none .item{margin-left: 19px; font-size: 18px; text-align: center; display:table-cell; vertical-align: middle;}
.view_cont_area .offer_none .item span{display: block; padding-top:32px; font-size: 16px; color: #f7941d;}
.view_cont_area .offer_none .item span.blue{color: #378cff;}
.view_cont_area .offer_none .item span.red{color: #ff6161;}
.view_cont_area .offer_none .item span.skyblue{color:#0ec4bf;}
/*상품리스트*/
.all_offer{position: absolute; top:0; right:0; width:460px; z-index: 110; background:#fff;}
.all_offer .items_area{margin-top:59px; height: 780px; overflow-x: hidden; overflow-y: scroll;}
.offer_detail_wrap{margin-right: 460px; height: 880px; margin-top:130px; padding-bottom:130px; overflow-x:hidden; overflow-y:scroll;}
.offer_none_wrap,.all_offer .offer_none_wrap{height: auto; min-height: 820px;}
.offer_wrap .offer_none{padding-top:250px; text-align: center;}
.all_offer .header{position: fixed; width:100%; padding:18px; font-size: 16px; font-family: "Noto Sans KR Medium"; color: #373737; background:#eee8e2; z-index: 100;}
.all_offer .header .cnt{font-size: 16px; color: #ff6161;}
.all_offer .header .desc{margin-left:16px; font-size: 15px; font-family: "Noto Sans KR Regular"; color: #ff6161;}
.items_area .items_list{padding-bottom: 40px;}
.items_area .items_list li{border-bottom: 1px solid #e6e6e6; background-color:#fbfbfb;}
.items_area .items_list li.target,.all_offer.search_offer .items_area .items_list li:hover{background-color: #e8f4ff;}
.items_area .items_list li a{display: block; position: relative; padding:3px 5px 10px 8px;}
.items_area .items_list li .img_area{display: block; position: absolute; top:8px; left:10px; width:162px; height:115px; overflow: hidden; z-index: 5; text-align: center;}
.items_area .items_list li .seen{position:absolute; bottom: 0; width: 100%; height:26px; line-height: 1.8; font-size: 14px; color:#fff200; background:rgba(0,0,0,.5);}
.items_area .items_list .item_info{position: relative; padding-left: 175px; font-size: 14px; color: #5f5f5f;}
.items_area .items_list .favor_ico{position: absolute; top:5px; right:5px; width:26px; height: 24px; background:url("../../images/sub/ico_favor_off.png") no-repeat; cursor: pointer;}
.items_area .items_list .favor_ico.pick{ background:url("../../images/sub/ico_favor_on.png") no-repeat;}
.items_area .items_list .item_info .tit{display: block; margin-bottom:4px; font-size:22px; font-weight: bold; color: #000;}
.items_area .items_list .item_info .mark{width:270px; height: 20px; margin:7px 0; overflow: hidden;}
.items_area .items_list .item_info .mark span{display: inline-block; padding:0 10px; margin-right:5px; line-height: 1.6; font-size: 12px; color: #000; background-color:#e6e6e6; border-radius: 10px; vertical-align: top;}
.items_area .items_list .item_info .mark span.type{font-weight: 500; background-color:#fdc689;}
.items_area .items_list .item_info .locate{text-overflow:ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden;}
.items_area .items_list li .item_head{position: relative; padding:15px 18px; font-size: 20px; color: #000; background-color: #fdc689;}
.items_area .items_list li .item_head .desc{position:absolute; top:20px; right: 10px; color: #373737;}
.items_area .items_list li .item_info.no_img{padding-left: 10px;}
.items_area .items_list .item_info.no_img .mark{width:auto;}
.all_offer .items_list li:hover{background-color:#fdfdfd;}
.items_area .items_list li .item_box{display: block; position: relative; padding:3px 5px 10px 8px;}
.items_area .items_list li .visit_req{position: relative; height: 56px;; padding-left: 8px; line-height: 3.3; color: #373737; background-color: #f9fcfd; border-top:1px solid #e6e6e6;}
.items_area .items_list li .visit_req .date{position: absolute; top:2px; right:8px; font-size: 14px; color: #5f5f5f;}
.items_area .items_list li .visit_req .checkbox:checked+label .chk_set{background-color: #378cff;}
.items_area .items_list li .visit_req .checkbox[disabled] +label .chk_set{background-color: #ebebeb;}
.requeset_section .items_list li .cover{position:absolute; bottom: 0; width: 100%; height:100%; padding-top:40px; font-size: 20px; font-family: "Noto Sans KR Medium"; color:#fff; background:rgba(0,0,0,.5);}
.process{margin-bottom:65px;}
.process .process_head{position: relative; margin-bottom:18px;}
.process .select_area{position: absolute; top:9px; right:0;}
.process .select_area:after{display: block; content:""; clear: both;}
.process .select_area.open .select_top{color: #373737; border:1px solid #373737;}
.process .select_area .select_top{width: 150px; padding-right:32px; border:1px solid #e6e6e6; color: #666666; text-align: left;}
.process .select_area .select_list{border:1px solid #373737;}
.mysale_porcess .deal_type_select{right:162px;}
.process .select_area>.select_area{float: left; position: relative; margin-top:-9px; margin-left: 8px;}
.process .tab{border-bottom:1px solid #e6e6e6; text-align: center;}
.process .tab:after{display:block; content:""; clear: both;}
.process .tab li{float:left; width:185px; height:60px; background-color: #fff; border-top:1px solid #e6e6e6; border-right:1px solid #e6e6e6;}
.process .tab li:first-child{border-left:1px solid #e6e6e6;}
.process .tab li a{display: block; width:100%; height: 100%; line-height: 3.2; font-size: 18px; color: #9c9c9c;}
.process .tab li.active a{font-family: "Noto Sans KR Medium"; color:#ff6161;}
.process .process_list{margin-bottom: 60px;}
.process .process_list li{position: relative; margin-top:18px; padding:21px 35px; line-height: 1.8; border:1px solid #e6e6e6; border-radius: 5px;}
.process .process_list li:hover{background-color: #fdfdfd;}
.process .process_list li .data{font-size: 18px; color: #373737;}
.process .process_list li .icon_type1{display: inline-block; margin-left: 4px; padding: 2px 8px 4px; font-size: 12px; vertical-align: 2px;}
.process .process_list li a{display: block; font-size: 16px; color: #5f5f5f;}
.process .process_list li a p{font-size: 15px;}
.process .process_list li a .txt_red{font-size: 15px;}
.process .process_list li .date{position: absolute; top:25px; right: 34px; font-size: 15px; color:#9c9c9c;}
.process .content .paging{text-align: center;}
.process .content .paging button{margin:0 8px; padding:5px 13px 6px; color: #9c9c9c; border:1px solid #d6d6d6; border-radius:30px; font-family: "Noto Sans KR Medium";}
.process .content .paging button:hover:not(.prev):not(.next),.process .content .paging .active{padding:6px 14px 7px; color: #fff; background:#378cff; border: none;}
.process .content .paging .prev,.process .content .paging .next{margin:0; padding:17px 17px; background-repeat: no-repeat; background-position: center;}
.process .content .paging .prev{margin-right:8px; background-image:url("../../images/sub/arr_paging_prev.png");}
.process .content .paging .next{margin-left: 8px; background-image:url("../../images/sub/arr_paging_next.png");}
.process .content .none{padding:140px 0 80px; text-align: center;}
.process .content .none .style{color: #9c9c9c; margin-bottom: 40px;}
/*하단 info*/
.info_box{padding:12px 20px 12px 135px; line-height: 2; font-size: 15px; border:1px solid #e6e6e6; border-radius: 5px; font-family: "Noto Sans KR Light"; background: url("../../images/sub/bg_info.png") no-repeat 43px 50% #fffbfb;}
.info_box em,.info_box li,.info_box p{font-size: 15px; color: #373737;}
.info_box .txt_red,.info_box .txt_blue{font-size: 15px;}
/*테이블*/
.table_style1 .table{width:1150px; background:#fff; border: 1px solid #e6e6e6;}
.table_style1 .table tr{border-top:1px solid #e6e6e6;}
.table_style1 .table:first-child{border-top:none;}
.table_style1 .table th,.table_style1 .table td{padding-top:18px; padding-bottom:18px; color: #373737;}
.table_style1 .table th{font-size: 15px; background-color: #f9fcfd; border-left:1px solid #e6e6e6;  border-right:1px solid #e6e6e6; text-align: center;}
.table_style1 .table td{padding-left:20px; text-align: left;}
.table_style1 td.info{line-height: 2; font-size: 15px; font-family: "Noto Sans KR Light"; color: #373737; background-color: #fffbfb;}
.table_style1 td.info li{font-size: 15px;}
.table_style1 td.info .txt_red{font-size: 15px; font-family:  "Noto Sans KR Regular";}
.table_style1 td.info .txt_box1{padding:45px 0;}
.table_style1 td.info .txt_box2{padding-top:12px; border-top:1px dashed #373737;}

.table_style1 td.info{line-height: 2; font-size: 15px; font-family: "Noto Sans KR Light"; color: #373737; background-color: #fffbfb;}
.table_style1 td.info li{font-size: 15px; padding-left: 16px; text-indent: -16px;}
.table_style1 td.info .txt_red{font-size: 15px; font-family:  "Noto Sans KR Regular";}
.table_style1 td.info .txt_box1{padding:45px 0;}
.table_style1 td.info .txt_box2{padding-top:12px; border-top:1px dashed #373737;}
.table_style1 td.info .mar_t45{margin-top:45px;}
.table_style1 td.info .desc_point{color: #ff6161; font-family: "Noto Sans KR Light";}
.table_style1 .bg_right_blue{background-color: #f9fcfd;}

.table_style2 .table{width:800px;  background:#fff; border:1px solid #e6e6e6;}
.table_style2 .table tr{border-top:1px solid #e6e6e6;}
.table_style2 .table:first-child{border-top:none;}
.table_style2 .table th,.table_style2 .table td{font-size: 15px; padding-top:14px; padding-bottom:14px;}
.table_style2 .table th{padding-left: 20px; font-size: 16px; color: #9c9c9c; text-align: right;}
.table_style2 .table td{padding-left:15px; color: #373737; text-align: left;}

.table_style3 .table{width:1150px; background:#fff; border: 1px solid #e6e6e6;}
.table_style3 .table tr{border-top:1px solid #e6e6e6;}
.table_style3 .table:first-child{border-top:none;}
.table_style3 .table th,.table_style3 .table td{padding-top:18px; padding-bottom:18px;}
.table_style3 .table th{font-size: 15px; color: #373737; border-right:1px solid #e6e6e6; background-color: #fdfdfd; text-align: center;}
.table_style3 .table td{padding-left: 20px; text-align: left; color: #5f5f5f;}
.table_style3 .table td .btn_setting{margin-left: 12px; color: #5f5f5f;}
.table_style3 .table td .desc{margin-left:24px; color: #373737;}
.table_style3 .table .pw_area{padding:0; padding-left: 20px;}
.table_style3 .table .member_pw{font-size: 34px;}
.table_style3 .table .member_pw:disabled{border:none; background:none;}

.table .chk_area{text-align: center;}
.table th .btn_right, .table td .btn_right{position: absolute; top:10px; right:14px;}
.table td .btn_right .btn:first-of-type{margin-left: 0;}
.table td .btn_right .btn{margin-left:8px;}
.table .input_name,.table .input_phone,.table textarea{border:none; font-family: "Noto Sans KR Regular"; color: #373737;}
.table input::placeholder,
.table input::-webkit-input-placeholder,.table textarea::-webkit-input-placeholder{font-family: "Noto Sans KR Regular"; color: #9c9c9c;}
.table input:-ms-input-placeholder,.table textarea:-ms-input-placeholder{font-family: "Noto Sans KR Regular"; color: #9c9c9c;}

.table .position{position: relative;}
.table .input_name,.table .input_phone{display: inline-block; padding:0 12px; height: 36px;}
.table .input_name:focus,.table .input_phone:focus,.table textarea:focus{border:1px solid #373737;outline:none;z-index:1}
.table .input_name{width:300px;}
.table .select_phone{display: inline-block; width:84px; vertical-align: middle;}
.table .select_phone .select_top{height: 36px;}
.table .select_phone .select_list{top:35px;}
.table .input_phone{width:200px;}
.table .text_area{width: 100%; height: 120px; padding:12px;}
.table td.btn_td{height: 60px; padding-top:10px; padding-bottom: 10px;}
.table .btn_round{width:130px; height:40px; padding:0 20px; margin-left:6px; line-height: 2.8; font-family: "Noto Sans KR Regular"; font-size: 14px; background-color: #ff6161;}
.table .btn_round.btn_grade,.table .btn_round.cancel{width:100px;}
.table .btn_round.skyblue{background-color: #0ec4bf;}
.table .btn_round.off{color: #fff; background-color: #e6e6e6; border:none;}
.table .help_ico{margin-left: 6px; vertical-align: 1px;}