@charset "utf-8";

.app_download{padding-top: 108px; background:url("../../images/main/app_bg.png") no-repeat 854px 0;}
.app_download:after{display: block; content:""; clear: both;}
.app_download .box{height: 118px; padding: 30px 25px 30px 75px;}
.app_download .txt{float: left; padding-top:8px;  font-family: "Noto Sans KR Medium"; font-size: 24px; color:#000;}
.app_download .app_area{float: right;}
.app_download .app_area .app{display:inline-block;}

/*매물검색*/
.set_area{height:60px; border-bottom:1px solid #e6e6e6;}
.offer_wrap{position: relative;}
.all_offer{position: absolute; top:0; right:0; width:460px; z-index: 110;}
/* .offer_left{position: absolute; top:0; left: 0;} */
.offer_detail_wrap{margin-right: 460px; padding:27px 0 130px;  overflow-x:hidden; overflow-y:scroll;}
.all_offer .btn_close{position: absolute; top:0; right:480px; width:59px; height: 59px; background:url("../../images/sub/ico_close.jpg") no-repeat; z-index:100;}
.offer_detail{width:800px; margin:0 auto; }
.offer_main{width: 800px;}
.offer_main .view_list{position: relative; margin-bottom:75px;}
.offer_main .view_list li{width:260px; height:174px; margin-left:540px; box-sizing: border-box; overflow: hidden;}
.offer_main .view_list li:first-child{position: absolute; top:0; left:0; margin:0; width:532px; height: 360px;}
.offer_main .view_list li:last-child{margin-top:12px;}
.offer_main .view_list li a{display: block; position: relative; width: 100%; }
.offer_main .view_list li .cover{position: absolute; top:0; left:0; width:100%; height:100%; padding-top:54px; font-size: 18px; color: #fff; background: rgba(0,0,0,.7); text-align: center;}
.offer_main .view_list li .cover .cnt{font-size: 24px;}
.offer_main .view_list.no_img li{display: block; padding-top:80px; font-size: 12px; border:1px solid #e6e6e6; background-color: #fafafa; text-align: center;}
.offer_main .view_list.no_img li:first-child{padding-top:174px;}
.offer_main .offer_mark{margin-bottom:55px; padding-left:24px; text-align: right;}
.offer_main .offer_mark:after{display: block; content:""; clear: both;}
.offer_main .offer_mark dl{float: left; padding: 0 40px; line-height: 1.4; border-right:1px solid #e6e6e6;}
.offer_main .offer_mark dl:last-of-type{padding-right:16px; border-right: none;}
.offer_main .offer_mark dt{ font-size:16px; color:#9c9c9c;}
.offer_main .offer_mark dd{font-size: 30px; color: #000;}
.offer_main .offer_mark dd span{font-size:16px; color:#9c9c9c;}
.offer_main .info_area .info_head{padding:0px 0px 14px 10px; font-size: 20px; color: #464646;}
.offer_main .info_area .info_head:after{display:block; content: ""; clear: both;}
.offer_main .info_area .info_head .left{float: left; font-size: 20px;}
.offer_main .info_area .info_head .right{float: right;}
.offer_main .info_area .info_head .type{padding-right:22px; font-size: 20px; color: #3399ff;}
.offer_main .info_area .info_head .info_layout{margin-left: 5px;}
.offer_main .info_area .info_head .visit{display: inline-block; padding-right:23px; line-height: 1.8; background:url("../../images/sub/ico_howto.png") no-repeat right;}
.offer_main .info_area .info_head .btn_area{display: inline-block;}
.offer_main .info_area .info_head .btn_area .btn{margin-left: 15px; padding:10px 10px 10px 38px; font-size:15px; color:#fff; border-radius:5px; background: url("../../images/sub/ico_btn_visit.png") no-repeat 10px #ff6161;}
.offer_main .info_area .info_head .btn_area .type{background: url("../../images/sub/ico_btn_favor_off.png") no-repeat 10px #3399ff;}
.offer_main .info_area .info_head .btn_area .type.on{background: url("../../images/sub/ico_btn_favor_on.png") no-repeat 10px #3399ff;}
.offer_explain {margin-bottom:65px;}
.offer_explain .explain_area{padding:15px; line-height: 2.1;}
.offer_locate .locate_box{border:1px solid #e6e6e6;}
.offer_locate .locate_box .locate_header{padding: 20px 32px; border-bottom:1px solid #e6e6e6;}
.offer_locate .locate_box .map{position: relative;}
.offer_locate .locate_box .ico_area{position: absolute; top:194px; left:50%; width: 90px; height: 90px; margin-left:-44px; padding-top: 30px; color: #fff; background:url("../../images/sub/ico_map_location.png") no-repeat; z-index: 50; text-align: center;}


/*마이홈*/
.myhome .myspace{position: relative; padding:107px 0 54px 110px}
.myhome .myspace .name{font-weight: 500; font-size:30px; color: #464646;}
.myhome .myspace .contact span{font-size: 20px;}
.myhome .myspace .set_btn{position: absolute; top:114px; right:105px;}
.myhome .myspace .set_btn .btn{display: block; padding:0 45px; font-size: 20px;}
.myhome .event_area{position: relative; margin-bottom:50px;}
.myhome .event_area .box_border_wrap{padding:25px 26px 18px;}
.myhome .event_area .tit{font-size:24px; font-weight: 500; color: #ff5050;}
.myhome .event_area .content{padding-top:5px; font-size:20px;}
.myhome .event_area .ev_btn{position: absolute; top:42px; right:23px;}
.myhome .event_area .ev_btn .btn{display:block; padding:0 20px; }
.myhome .inquiry{margin-bottom: 40px;}
.myhome .inquiry .sectoin_box1{padding:15px 22px 22px 26px}
.myhome .inquiry .tit{margin-bottom:18px; font-size: 24px; font-weight: 500; color: #000;}
.myhome .inquiry .tit .num{font-size: 24px; color: #ff5050;}
.myhome .inquiry .content{font-size: 20px;}
.myhome .inquiry .sectoin_box2{border-top:1px solid #e6e6e6;}
.myhome .inquiry .sectoin_box2 .link{position: relative; padding-left: 25px; padding-right: 20px; line-height: 3.4; font-size: 20px; font-weight: 500; color:#3399ff;}
.myhome .inquiry .sectoin_box2 .link:after{display:block; content:""; clear:both; position: absolute; width:9px; height:17px; top:8px; right:0; background:url("../../images/sub/arr_link.png") no-repeat;}
.mypoint_area {position: relative; margin-bottom:54px;}
.mypoint_area .box_border_wrap{overflow: hidden; padding:30px 0 30px 75px;}
.mypoint_area strong{float: left; font-size: 30px; font-weight: 500; color: #ff5050}
.mypoint_area .mypoint{float: right; padding-right: 588px; font-size: 30px; font-weight: 500; color:#000;}
.mypoint_area .mypoint em{font-size: 30px; font-weight: 500; color: #3399ff}
.mypoint_area .btn_area{position: absolute; top:30px; right:28px; text-align: center;}
.mypoint_area .btn_area .btn{display: inline-block; width:152px; margin-left: 18px; line-height: 3; color: #464646;}
/*나의 매수.매도*/
.myrequest{position: relative; padding:110px 0 54px 54px}
.myrequest .tit{margin-bottom:8px; font-size:30px; color: #ff5050;}
.myrequest.sell .tit{color: #3399ff;}
.myrequest .txt{font-size: 18px;}
.myrequest .req_btn{position: absolute; top:120px; right:105px;}
.myrequest .req_btn .btn{padding:0 25px;}
.mybuying .process{margin-bottom:65px;}